

@media (min-width: 1200px) {

.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 400px;
	min-height: 360px;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	max-height: 400px;
	min-height: 360px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}
}


@media (max-width: 1199px) {

.tilt {
	overflow: hidden;
	position: relative;
	width: 200px;
	
	min-height: 200px;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 200px;

	min-height: 200px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}
}




